/* ---------------- GLOBAL ---------------- */

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #fff;
  overflow: hidden;

  background-image: url("calculator2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



/* ---------------- CALCULATOR CONTAINER ---------------- */
.calculator-container {
  width: 400px;
  padding: 35px;
  background: rgba(184, 8, 17, 0.1);
  border-radius: 25px;
  box-shadow: 0 8px 40px rgba(0, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  text-align: center;
  transition: 0.4s ease-in-out;
}

.calculator-container:hover {
  box-shadow: 0 10px 50px rgba(0, 255, 255, 0.5);
}

.calculator-container h2 {
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: 600;
  text-shadow: 0 0 15px #00eaff;
}

/* ---------------- DISPLAY ---------------- */
.display {
  background: rgba(255,255,255,0.12);
  padding: 18px;
  border-radius: 18px;
  margin-bottom: 25px;
  text-align: right;
  box-shadow: inset 0 0 15px rgba(0,255,255,0.2);
}

.input {
  font-size: 28px;
  min-height: 32px;
  word-wrap: break-word;
}

.result {
  font-size: 22px;
  color: #00eaff;
  min-height: 26px;
  word-wrap: break-word;
  text-shadow: 0 0 8px #00eaff;
}

/* ---------------- BUTTONS ---------------- */
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

button {
  padding: 18px;
  font-size: 18px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
  background: rgba(255,255,255,0.15);
  color: #fff;
  box-shadow: 0 4px 12px rgba(0,255,255,0.25);
}

button:hover {
  background: rgba(0, 255, 255, 0.25);
  box-shadow: 0 4px 18px #00eaff;
  transform: translateY(-2px);
}

/* ---------------- SPECIAL BUTTONS ---------------- */
.btn-red {
  background: rgba(255,50,50,0.35);
}

.btn-red:hover {
  background: rgba(255,0,0,0.6);
}

.btn-operator {
  background: rgba(0,255,255,0.25);
}

.btn-equal {
  background: rgba(0,200,255,0.6);
  color: #fff;
  font-weight: bold;
}

.btn-scientific {
  background: rgba(255,255,255,0.1);
  font-size: 16px;
}

.btn-zero {
  grid-column: span 2;
}

/* ---------------- RESPONSIVE ---------------- */
@media (max-width: 450px) {
  .calculator-container {
    width: 90%;
    padding: 25px;
  }

  .display {
    padding: 15px;
  }

  button {
    padding: 16px;
    font-size: 16px;
  }

  .calculator-container h2 {
    font-size: 24px;
  }
}
