body {
  margin: 0;
  padding: 0;
  background-image: url(calculator2.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* covers full screen */
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

.calc-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.calculator {
  width: 380px;
  background: #2b2b2b;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px #00000080;
}

.display {
  width: 100%;
  height: 70px;
  font-size: 28px;
  text-align: right;
  padding: 10px;
  background: #000;
  color: #0aff8a;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
}

.sci-row,
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-bottom: 15px;
}

.grid {
  grid-template-columns: repeat(4, 1fr);
}

button {
  height: 60px;
  font-size: 18px;
  background: #3b3b3b;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #505050;
}

.equal {
  background: #28a745;
}

.equal:hover {
  background: #1f8b38;
}

.clear {
  background: #d9534f;
}

.clear:hover {
  background: #b84642;
}

button:active {
  transform: scale(0.95);
}
